# Do not include azure-functions-worker as it may conflict with the Azure Functions platform

azure-functions
msrestazure
azure-storage==0.36.0
azure_storage_logging
azure-mgmt-storage
azure-keyvault-secrets
azure-identity
prometheus_client
retry
hdbcli
pyodbc